{% extends 'base.html' %}
{% load static %}

{% block menu %}
    {% include 'inc_main_menu.html' %}
{% endblock %}

{% block search %}
    <section class="ptb80 overlay-black">
        <div class="container">
            <div class="col-md-12 text-center">
                <h2 class="pb40">Поиск резюме</h2>
            </div>
            <form method="get" action="." class="post-job-resume job-search-form mt50">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-8 mx-auto search-keywords">
                            {{ form.q }}
                        </div>
                        <div class="col-md-4 mx-auto">
                            <input type="submit" value="найти" class="btn btn-blue btn-effect btn-large">
                        </div>
                    </div>

                </div>
                <br>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="{{ form.speciality.id_for_label }}"><br>Специальность & образование</label>
                        <div class="col-md-6 mx-auto">
                            {{ form.speciality }}
                        </div>
                        <div class="col-md-6 mx-auto">
                            {{ form.education_level }}
                        </div>

                    </div>
                </div>
                <div class="pt20"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="{{ form.salary.id_for_label }}"><br>Оклад & дислокация</label>
                        <div class="col-md-6 mx-auto" style="background-color: transparent">
                            {{ form.salary }}
                        </div>
                        <div class="col-md-6 mx-auto">
                            {{ form.moving }}
                        </div>

                    </div>
                </div>


            </form>

            <br>

        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="education ptb80 " style="background-color: rgba(41, 177, 253, 0.25)">

        <div class="container">
            {% if query %}
                {% for result in object_list %}
                    <div class="col-md-12" style="margin-bottom: 15px;">
                        <div class="item-block shadow-hover" style="background: #ffffff;">

                            <div class="education-header clearfix">
                                <div style="margin-bottom: 15px; border-bottom: 1px solid #e3e3e3; width: 100%">
                                    Резюме
                                </div>
                                <br>
                                <a href="{% url 'cv:detail_cv' result.object.id %}">
                                    <div style="margin-bottom: 15px;"><h4>{{ result.object.post }}</h4></div>
                                    <div style="margin-bottom: 15px;"><h6>Специальность: {{ result.object.speciality }}</h6></div>

                                <div><h6>Образование: {{ result.object.get_education_level_display }}</h6></div>
                                </a>
                                <br>
                                <div><h6>{{ result.object.salary }} RUB</h6></div>

                                <a href="#" style="color: lightgray">
                                    <div class="pull-right shadow-hover"><h3>★</h3></div>
                                </a>
                            </div>
                        </div>
                    </div>


                {% empty %}
                    <p>Нет вакансий, удовлетворяющих условиям поиска</p>
                {% endfor %}


                {% if page.has_previous or page.has_next %}
                    <div>
                        {% if page.has_previous %}
                            <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo;
                        Previous
                        {% if page.has_previous %}</a>{% endif %}
                        |
                        {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}
                        Next
                        &raquo;{% if page.has_next %}</a>{% endif %}
                    </div>
                {% endif %}
            {% else %}
                {# Show some example queries to run, maybe query syntax, something else? #}
            {% endif %}
            <br>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {% include 'inc_footer.html' %}
{% endblock %}