{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2>Поиск вакансий:</h2>

    <form method="get" action=".">
        <table>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Поиск">
                </td>
            </tr>
        </table>



        {% if query %}
            <br>
            <h3>Результаты поиска:</h3>
            <table width="100%">
                <tr>
                    <th> Название</th>
                    <th>Зарплата от</th>
                    <th>Зарплата до</th>
                    <th>Зарплата на руки</th>
                    <th>Специализация</th>
                    <th>Опыт</th>
                </tr>

                {% for result in object_list %}
                    <tr>
                        <td>
                            <a href="{% url 'vacancy:update_vacancy' result.object.id %}">
                                {{ result.object.name }}</a>
                        </td>
                        <td>
                            {% if result.object.salary_to == None %}
                            -
                            {% else %}
                            {{ result.object.salary_to }}
                            {% endif %}

                        </td>
                        <td>
                            {% if result.object.salary_from == None %}
                            -
                            {% else %}
                            {{ result.object.salary_from }}
                            {% endif %}

                        </td>
                        <td>
                            {% if result.object.salary_on_hand%}
                            да
                            {% else %}
                            нет
                            {% endif %}
                        </td>
                        <td>
                            {{ result.object.specialization }}
                        </td>
                        <td>
                            {{ result.object.get_experience_display }}
                        </td>



                        {% empty %}
                        <p>Нет вакансий, удовлетворяющих условия поиска</p>
                    </tr>
                {% endfor %}
            </table>

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}
                        <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous
                    {% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next
                    &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}