<div id="content-container" class="container p-none">
    <div class="side-p">
        <h3>Объект будет удалён</h3>
        <p>Вы подтверждаете удаление {{ object }}?</p>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group d-flex align-items-center justify-content-around mt-4 mb-3">
                <input class="btn btn-primary"
                       type="button" value="Отмена"
                       onclick="window.history.go(-1);"/>
                <input class="btn btn-danger" type="submit" value="Удалить"/>
            </div>
        </form>
    </div>
</div>
