{% extends 'base.html' %}
{% load static %}

{% block menu %}
{% include "moderator_menu.html" %}
{% include "moderator_awaiting_menu.html" %}
{% endblock %}

{% block content %}
<div class="giant-font text-center border-bottom border-secondary border-1">Модерация резюме</div>
<div class="d-flex flex-wrap align-items-center justify-content-center ps-5 pe-5">

{% if cvs_list %}
    <table class="table" width="100%">
        <thead>
            <tr>
                <th>ИД</th>
                <th>ФИО</th>
                <th>Заголовок</th>
                <th>Специализация</th>
                <th>Статус</th>
                <th>Активна</th>
                <th>Анализ</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cvs_list %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.worker_profile.name }}</td>
                    <td>{{ item.post }}</td>
                    <td>{{ item.speciality }}</td>
                    <td>{{ item.status }}</td>
                    <td>{% if item.is_active %} Да {% else %} Нет {% endif %} </td>
                    <td>
                        <a class="btn btn-link m-0" href="{% url 'cv:moderator_cvs_approve' item.id %}">просмотр</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Данные отсутствуют</p>
{% endif %}


</div>
{% endblock %}