{% extends "base.html" %}

{% load static %}

{% block menu %}
    {% include 'inc_main_menu.html' %}
{% endblock %}

{% block header %}
    {% include 'inc_header_menu.html' %}
{% endblock %}

{% block content %}

    {% block messages %}
        {% include 'inc_messages_for_forms.html' %}
    {% endblock %}

    <!-- ===== Start of Main Wrapper Section ===== -->
    <section class="ptb80" id="post-job">
        <div class="container">
            <!-- Start of Post Resume Form -->
            {#            <form action="#" class="post-job-resume mt50">#}
            <div class="row candidate-profile nomargin">

                <!-- Start of Profile Picture -->
                <div class="col-md-3 col-xs-12">
                    <div class="profile-photo">
                        <img src="{% if worker.image %} {{ worker.image.url }} {% else %} {% static 'img/users/default_avatar.jpg' %} {% endif %}"
                             class="img-thumbnail">
                    </div>
                </div>
                <!-- End of Profile Picture -->

                <!-- Start of Profile Description -->
                <div class="col-md-9 col-xs-12">
                    <div class="profile-descr">

                        <!-- Profile Title -->
                        <div class="profile-title">
                            <h2 class="capitalize">{{ worker.name }}</h2>
                            {#                            <h5 class="pt10">Front-End Developer</h5>#}
                        </div>

                        <!-- Profile Details -->
                        <ul class="profile-info mt20 nopadding">
                            <li>
                                <i class="fa fa-map-marker"></i>
                                <span>{{ worker.city }}</span>
                            </li>
                            <li>
                                <i class="fa fa-birthday-cake"></i>
                                <span>{{ worker.birth_date }}</span>
                            </li>

                            <li>
                                <i class="fa fa-phone"></i>
                                <span>{{ worker.phone_number }}</span>
                            </li>

                            <li>
                                <i class="fa fa-envelope"></i>
                                <span>{{ worker.user.email }}</span>
                            </li>
                        </ul>

                    </div>
                </div>
                <!-- End of Profile Description -->

            </div>
            <!-- End of Row -->


            <form action="{% url 'cvs:create_cv' %}" method="post" class="post-job-resume mt50">
                {% csrf_token %}

                <!-- Start of Resume Details -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="{{ form.about.id_for_label }}">Обо мне</label>
                            {{ form.about }}
                        </div>

                        <!-- Form Group -->
                        <div class="form-group">
                            <label for="{{ form.speciality.id_for_label }}">Специализация
                                <span style="color:red">*</span></label>
                            {{ form.speciality }}
                        </div>
                        <!-- Form Group -->
                        <div class="form-group">
                            <label for="{{ form.post.id_for_label }}">Должность
                                <span style="color:red">*</span></label>
                            {{ form.post }}
                        </div>
                        <!-- Form Group -->
                        <div class="form-group">
                            <label for="{{ form.skills.id_for_label }}">Основные навыки</label>
                            {{ form.skills }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12"
                               for="{{ form.salary.id_for_label }}">Зарплата</label>
                        <div class="col-md-6 mx-auto">
                            {{ form.salary }}
                        </div>
                        <div class="col-md-6 mx-auto">
                            {{ form.currency }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        {#                            <div class="form-group pt30 nomargin" id="last">#}
                        <div class="form-group pt30 nomargin">
                            <label for="experience">Опыт работы</label>
                            <input type="submit" class="btn btn-blue btn-effect" name="experience"
                                   id="experience"
                                   value="Добавить опыт работы">

                        </div>
                        <!-- Form Group -->
                        <div class="form-group pt30">
                            <label for="{{ form.education_level.id_for_label }}">Уровень
                                образования</label>
                            {{ form.education_level }}
                        </div>

                        <div class="form-group nomargin">
                            <label for="education">Образование</label>

                            <input type="submit" class="btn btn-blue btn-effect"
                                   value="Добавить место обучения"
                                   name="education" id="education">

                        </div>
                        <div class="form-group pt30 nomargin">
                            <label for="language">Владение языками</label>
                            <input type="submit" class="btn btn-blue btn-effect"
                                   value="Добавить язык"
                                   name="language" id="language">

                        </div>

                        <div class="form-group pt30 nomargin">
                            <label for="{{ form.moving.id_for_label }}">Возможность
                                переезда</label>
                            {{ form.moving }}
                        </div>
                    </div>
                    {#                        <div class="form-group pt30 nomargin">#}
                    <div class="col-md-6 mx-auto form-group pt30 nomargin">
                        <label>Занятость</label>
                        {% for empl in employments %}
                            <div class="form-check">
                                <input class="form-check-input" name="empl_{{ empl.code }}"
                                       type="checkbox" value="{{ empl.code }}"
                                       id="empl_{{ empl.code }}">
                                <label class="form-check-label" for="empl_{{ empl.code }}">
                                    {{ empl.employment }}
                                </label>
                            </div>
                        {% endfor %}

                    </div>
                    <div class="col-md-6 mx-auto form-group pt30 nomargin">
                        <label>График работы</label>
                        {% for sch in schedules %}
                            <div class="form-check">
                                <input class="form-check-input" name="schedule_{{ sch.code }}"
                                       type="checkbox" value="{{ sch.code }}"
                                       id="schedule_{{ sch.code }}">
                                <label class="form-check-label" for="schedule_{{ sch.code }}">
                                    {{ sch.schedule }}
                                </label>
                            </div>
                        {% endfor %}

                    </div>
                    <div class="col-md-12">
                        <div class="form-group pt30 nomargin" id="last">
                            <button class="btn btn-blue btn-effect">Сохранить</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </section>


{% endblock %}

{% block footer %}
    {% include 'inc_footer.html' %}
{% endblock %}