{% extends 'base.html' %}
{% load static %}

{% block menu %}
    {% include 'inc_main_menu.html' %}
{% endblock %}

{% block header %}
    {% include 'inc_header_menu.html' %}
{% endblock %}

{% block content %}
    <section class="education ptb80" style="background: #f0f0f0;">
        <div class="container">

            <div class="col-md-12" style="margin-bottom: 15px;">
                <div class="item-block shadow-hover" style="background: #ffffff;">

                    <div class="education-header clearfix">
                        <h5><small>Должность -</small><a href="{% url 'cv:detail_cv' cv.id %}">{{ cv.post }}</a></h5>
                        <h5><small>Дата создания -</small> {{ cv.date_create }} </h5>
                        <h5><small>Статус резюме -</small> {{ cv.status }} </h5>
                    </div>

                    <div class="col-md-12 text-right mt-4 mb-4" style="background: #ffffff;">
                        <a class="btn btn-blue btn-effect mt15 mb15" href="{% url 'cv:detail_cv' cv.id %}">Просмотр</a>
                    </div>

                </div>
            </div>

            <form method="post" action="">
                {% csrf_token %}

                <div class="col-md-12 text-center">
                    <h3 class="pb60">Резюме будет удалено, для восстановления обратитесь к администратору.</h3>

                    <input class="btn btn-red btn-effect mt15 mb15" type="submit" value="Подтвердить удаление">
                    <a class="btn btn-blue btn-effect mt15 mb15" href="{% url 'cv:cv_list' %}">Отмена</a>
                </div>

            </form>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {% include 'inc_footer.html' %}
{% endblock %}