{% extends "base.html" %}

{% load static %}

{% block header %}
    {% include 'inc_header_menu.html' %}
{% endblock %}

{% block content %}

    {% block messages %}
        {% include 'inc_messages_for_forms.html' %}
    {% endblock %}

    <form action="" method="post">
        {% csrf_token %}
        <section class="pricing-tables pb80" style="background: #ffffff">
            <div class="container">
                <!-- Start Row -->
                <div class="row">
                    <div class="form-group pt10 col-md-12">
                        <div class="col-md-12 mt80">
                            <div class="form-group pt30">
                                <label for="{{ form.name.id_for_label }}">Наименование учебного заведения</label>
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="form-group pt30 col-md-12">
                            <label for="{{ form.date_end.id_for_label }}">Год окончания
                                <span style="color:red">*</span></label>
                            <div data-toggle="tooltip" data-placement="bottom"
                                 title="Если еще учитесь, укажите предполагаемый год окончания">
                                {{ form.date_end }}
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group pt30">
                                <label for="{{ form.department.id_for_label }}">Факультет
                                    <span style="color:red">*</span></label>
                                {{ form.department }}
                            </div>
                            <div class="form-group pt30">
                                <label for="{{ form.specialty.id_for_label }}">Специализация</label>
                                {{ form.specialty }}
                            </div>

                            <!-- Pricing Footer -->
                            <div class="pricing-footer">
                                <input type="submit" class="btn btn-blue btn-effect" value="Cохранить">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>

{% endblock %}

{% block footer %}
    {% include 'inc_footer.html' %}
{% endblock %}