{% extends 'base.html' %}
{% load static %}

{% block menu %}
    <ul>
        <li>
            <a href="{% url 'cv:update_cv' cv_id %}">вернуться к резюме</a>
        </li>
    </ul>

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5 mb-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Знание языка</h3>
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}

                            {% if messages %}

                                <div class="alert alert-warning alert-dismissible fade show" role="alert"
                                     style="margin-top: 50px;">
                                    {#                выводим ошибки#}
                                    {% for message in messages %}
                                        {{ message }}
                                    {% endfor %}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}

                            <div class="form-group m-3">
                                <label class="small mb-1" for="{{ form.language.id_for_label }}">Язык</label>
                                <p class="card shadow-lg border-1 rounded-lg">{{ form.language }}</p>
                            </div>
                            <div class="form-group m-3">
                                <label class="small mb-1" for="{{ form.level.id_for_label }}">Уровень</label>
                                <p class="card shadow-lg border-1 rounded-lg">{{ form.level }}</p>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-center mt-4 mb-0">
                                <input class="btn btn-primary" type="submit" value="Coхранить">
                            </div>
                            <input type="hidden" name="cv_id" value="{{ cv_id }}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}