{% extends "base.html" %}

{% load static %}

{% block additional_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cv_languages.css' %}">
{% endblock %}

{% block header %}
    {% include 'inc_header_menu.html' %}
{% endblock %}

{% block content %}

    {% block messages %}
        {% include 'inc_messages_for_forms.html' %}
    {% endblock %}

    <!-- ===== Start of Messages Section ===== -->
    <form action="" method="post">
        {% csrf_token %}

        <section class="pricing-tables pb80" style="background: #ffffff">
            <div class="container">
                <!-- Start Row -->
                <div class="row">
                    <div class="form-group pt10 col-md-12">
                        <div class="form-group pt30">
                            <label for="{{ form.language.id_for_label }}">Язык
                                <span style="color:red">*</span></label>
                            {{ form.language }}
                        </div>
                        <div class="form-group pt30">
                            <label for="{{ form.level.id_for_label }}">Уровень
                                <span style="color:red">*</span></label>
                            {{ form.level }}
                        </div>
                        <input type="hidden" name="cv_id" value="{{ cv_id }}">
                        <!-- Pricing Footer -->
                        <div class="pricing-footer">
                            <input type="submit" class="btn btn-blue btn-effect" value="Cохранить">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>

{% endblock %}

{% block footer %}
    {% include 'inc_footer.html' %}
{% endblock %}