{% extends 'base.html' %}
{% load static %}

{% block menu %}
    <ul>

        <li>
            <a href="{% url 'cv:create_cv' %}">создать резюме</a>
        </li>

        <li>
            <a href="{% url 'users:employee_profile' '1' %}">вернуться в профиль</a>
        </li>
    </ul>

{% endblock %}

{% block content %}
    <table width="100%">
        <tr>
            <td width="60%">
                резюме
            </td>
            <td>
                статус
            </td>
            <td>
                <a href="{% url 'cv:update_cv' '1' %}">редактировать</a>
            </td>
            <td>
                <a href="{% url 'cv:delete_cv' '1' %}">удалить</a>
            </td>
            <td>
                <a href="{% url 'cv:distribute_cv' '1' %}">разместить</a>
            </td>

        </tr>
    </table>
{% endblock %}

