{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block menu %}
    {% include 'inc_main_menu.html' %}
{% endblock %}

{% block header %}
    {% include 'inc_header_menu.html' %}
{% endblock %}

{% block content %}
    <!--    Начало секции МОИ РЕЗЮМЕ-->
    <section class="education ptb80">
        <div class="container">

            {% for cv in cvs %}
                <div class="col-md-12" style="margin-bottom: 15px;">
                    <div class="item-block shadow-hover" style="background: #ffffff;">

                        <div class="education-header clearfix">
                        <div class="col-md-8 col-xs-6 ptb20">
                            <h5><small>Должность -</small><a href="{% url 'cv:detail_cv' cv.id %}">{{ cv.post }}</a>
                            </h5>
                            <h5><small>Соискатель -</small>{{ cv.worker_profile.name }}</h5>
                            <h5><small>Дата создания -</small> {{ cv.date_create }} </h5>

                            {% if worker %}
                                <h5><small>Статус резюме -</small>
                                {{ cv.status }}
                                {% if cv.status.code == 'FRV' %}
                                    <p style="color:#ff0000;">Внимание! Модератор отправил резюме на доработку!
                                        {% if cv.moderators_comment %}
                                            <p style="color:#ff0000;">Прочесть комментарии модератора можно на форме
                                                редактирования.</p>
                                        {% endif %}
                                {% elif cv.status.code == 'RJC' %}
                                    <p style="color:#ff0000;">Внимание! Резюме отклонено модератором!
                                        {% if cv.moderators_comment %}
                                            <p style="color:#ff0000;">Прочесть комментарии модератора можно на форме
                                                редактирования.</p>
                                        {% endif %}
                                {% endif %}
                            {% endif %}


                            </h5>
                        </div>

                        <div class="col-md-2 col-xs-3 ptb20">
                            <div class="candidate-cta ptb30">
                                {% load extra_tags %}
                                {% if employer %}
                                    {% is_employers_favorite cv.id employer.id as favorite %}
                                    {% if favorite %}
                                        <a href="{% url 'favorites:employer_add_remove' cv_id=cv.id %}"
                                           style="color: orange">
                                            <div data-toggle="tooltip" data-placement="bottom"
                                                 title="Уже у Вас в избранном" class="pull-right">
                                                <h3>★</h3>
                                            </div>
                                        </a>
                                    {% else %}
                                        <a href="{% url 'favorites:employer_add_remove' cv_id=cv.id %}"
                                           style="color: lightgray">
                                            <div class="pull-right"><h3>★</h3></div>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                         </div>
                        {% if worker %}
                            <div>
                                <div class="col-md-4 text-left mt-4 mb-4" style="background: #ffffff;">
                                    <a class="btn btn-blue btn-effect mt15 mb15"
                                       href="{% url 'vacancy:vacancy_recommended' cv.id %}">вакансии для
                                        Вас</a>
                                </div>

                                <div class="col-md-8 text-right mt-4 mb-4" style="background: #ffffff;">
                                    {% if cv.status.code == 'NPB' or cv.status.code == 'FRV' %}
                                        <a class="btn btn-blue btn-effect mt15 mb15"
                                           href="{% url 'cv:distribute_cv' cv.id %}">Опубликовать</a>
                                    {% endif %}
                                    <a class="btn btn-blue btn-effect mt15 mb15" href="{% url 'cv:update_cv' cv.id %}">редактировать</a>
                                    <a class="btn btn-blue btn-effect mt15 mb15" href="{% url 'cv:delete_cv' cv.id %}">удалить</a>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-md-12 text-right mt-4 mb-4" style="background: #ffffff;">
                                <a class="btn btn-blue btn-effect mt15 mb15"
                                   href="{% url 'cv:detail_cv' cv.id %}">Просмотр</a>
                            </div>
                        {% endif %}

                    </div>
                </div>
            {% endfor %}
{#            {% if worker %}#}
{#                <a class="btn btn-blue btn-effect mt15 mb15" href="{% url 'cv:create_cv' %}">Создать резюме</a>#}
{#            {% endif %}#}
        </div>
    </section>
    <!--    Конец секции МОИ РЕЗЮМЕ-->
{% endblock %}

{% block footer %}
    {% include 'inc_footer.html' %}
{% endblock %}