{% extends 'base.html' %}
{% load static %}

{% block menu %}
    {% include "worker_menu.html" %}
    <ul>

        <li>
            <a href="{% url 'cv:create_cv' %}">создать резюме</a>
        </li>
        <li>
            <a href="{% url 'users:worker_profile' user.id %}">вернуться в профиль</a>
        </li>
    </ul>

{% endblock %}

{% block content %}
    <div class="giant-font text-center border-bottom border-secondary border-1">Мои резюме</div>
    <div class="d-flex flex-wrap align-items-center justify-content-center ps-5 pe-5">
        <table class="table" width="100%">
            <tr>
                <th>Резюме. Должность</th>
                <th>статус</th>
                <th>дата создания</th>
                <th>редактировать</th>
                <th>удалить</th>
                <th>разместить</th>
            </tr>
            {% for cv in cvs %}
                <tr>
                    <td width="30%">
                        {{ cv.post }}
                        <br>
                        <a href="{% url 'vacancy:vacancy_recommended' cv.id %}">вакансии для
                            Вас</a>
                    </td>
                    <td>
                        {{ cv.status }}
                    </td>
                    <td>
                        {{ cv.date_create }}
                    </td>
                    <td>
                        <a href="{% url 'cv:update_cv' cv.id %}">редактировать</a>
                    </td>
                    <td>
                        <a href="{% url 'cv:delete_cv' cv.id %}">удалить</a>
                    </td>
                    <td>
                        {% if cv.status.code == 'NPB' %}
                            <a href="{% url 'cv:distribute_cv' cv.id %}">разместить</a>
                        {% else %}
                            <p>{{ cv.status }}</p>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
