{% extends 'base.html' %}
{% load static %}

{% block menu %}
    {% include 'inc_main_menu.html' %}
{% endblock %}

{% block header %}
    {% include 'inc_cv_header.html' %}
{% endblock %}

{% block content %}
<!--    Начало секции Отклики-->
    <section class="education ptb80" style="background: #f0f0f0;">
        <div class="container">

            {% for resp in responses %}
            <div class="col-md-12" style="margin-bottom: 15px;">
                <div class="item-block shadow-hover" style="background: #ffffff;">

                    <div class="education-header clearfix">
                        <h5><small>Вакансия - </small><a href="{% url 'vacancies:update_vacancy' resp.vacancy_id %}">{{ resp.vacancy.name }}</a></h5>
                        <h5><small>Специализация - </small>{{ resp.vacancy.specialization }}</h5>
                        <h5><small>Компания - </small>{{ resp.vacancy.employer_profile }}</h5>
                        <h5><small>Отправленное </small><a href="{% url 'cv:detail_cv' resp.cv_id %}">резюме</a></h5>

                        <h5><small>Решение компании -</small>
                            {% if resp.status_employer %} <span style="color: green;">Приглашение</span>
                            {% elif resp.status_employer is False %} <span style="color: red;">Отказ</span>
                            {% elif resp.status_employer is None %} <span style="color: brown;">Ожидание</span>
                            {% endif %}
                        </h5>

                        <h5><small>Решение соискателя -</small>
                            {% if resp.status_worker %} <span style="color: green">Согласие</span>
                            {% elif resp.status_worker is False %} <span style="color: red">Отказ</span>
                            {% elif resp.status_worker is None %} <span style="color: brown;">Ожидание</span>
                            {% endif %}
                        </h5>

                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </section>
<!--    Конец секции МОИ Отклики-->

{% endblock %}

{% block footer %}
    {% include 'inc_footer.html' %}
{% endblock %}