{% extends 'base.html' %}
{% load static %}

{% block menu %}
    {% include 'inc_main_menu.html' %}
{% endblock %}

{% block header %}
    {% include 'inc_header_menu.html' %}
{% endblock %}

{% block content %}

    {% block messages %}
        {% include 'inc_messages_for_forms.html' %}
    {% endblock %}

    <div class="ptb80" id="post-job">
        <div class="container">

            <form action="{% url 'users:employer_profile' object.user_id %}" method="post"
                  enctype="multipart/form-data"
                  class="post-job-resume mt50">
                {% csrf_token %}

                <div class="row">
                    <div class="col-md-12">

                        <div class="profile-photo text-center mb30">
                            <img width="400" height="400"
                                 src="{% if object.image %} {{ object.image.url }} {% else %} {% static 'img/users/default_avatar.jpg' %} {% endif %}"
                                 class="img-thumbnail">
                        </div>

                        <div class="form-group">
                            {{ form.image }}
                            <label class="custom-file-label" for="image">Выберите
                                изображение</label>
                        </div>

                        <div class="form-group">
                            <label>Название работодателя
                                <span style="color:red">*</span></label>
                            {{ form.name }}
                        </div>

                        <div class="form-group">
                            <label>Статус работодателя</label>
                            {{ object.status }}

                            {% if object.status.code == 'FRV' %}
                                <p style="color:#ff0000;">Внимание! Модератор отправил карточку
                                    компании на
                                    доработку!</p>
                                {{ form.moderators_comment }}
                            {% elif object.status.code == 'RJC' %}
                                <p style="color:#ff0000;">Внимание! Карточка компании отклонена
                                    модератором!</p>
                                {{ form.moderators_comment }}
                            {% endif %}


                        </div>

                        <div class="form-group">
                            <label for="{{ form.city.id_for_label }}">Город местонахождения
                                <span style="color:red">*</span></label>
                            {{ form.city }}
                        </div>

                        <div class="form-group">
                            <label>Дата регистрации работодателя на сайте:</label>
                            {{ object.date_create }}
                        </div>

                        <div class="form-group">
                            <label class="small mb-1" for="{{ form.data.id_for_label }}">Описание
                                компании:
                                <span style="color:red">*</span></label>
                            {{ form.data }}
                        </div>

                        <div class="form-group d-flex align-items-center justify-content-around mt-4 mb-0">
                            <a class="btn btn-blue btn-effect"
                               href="{% url 'index' %}">Вернуться</a>
                            <input class="btn btn-blue btn-effect" type="submit" value="Сохранить">
                            {% if object.status.code == 'NPB' or object.status.code == 'FRV' %}
                                <a class="btn btn-blue btn-effect mt15 mb15"
                                   href="{% url 'users:distribute_company' object.id %}">Опубликовать</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'inc_footer.html' %}
{% endblock %}