{% extends 'base.html' %}
{% load static %}

{% block menu %}
    <ul>
        <li>
            <a href="{% url 'cv:cv_list' %}">мои резюме</a>
        </li>
        <li>
            <a href="{% url 'news:moderate_news' %}">мои мои отклики</a>
        </li>
        <li>
            <a href="{% url 'news:moderate_news'%}">поиск вакансий</a>
        </li>
    </ul>

{% endblock %}

{% block content %}

    <form method="post" action="">
        {% csrf_token %}
        {{ form.data }}
        <br>
        <input type="submit" value="сохранить">
    </form>

{% endblock %}

