<!-- ===== Start of Latest News Section ===== -->
<section class="ptb80" id="latest-news2">
    <div class="container">
        <div class="section-title">
            <h2>Новости</h2>
        </div>

        {% if news_list %}

            <div class="col-md-6">
                <div class="col-md-12 blog-post">
                    <!-- Post info -->
                    <div class="post-info">
                        <!-- Post Title -->
                        <a href="{% url 'news:detail_news' news_list.0.pk %}" class="blog-post-link pb10"><h4>{{ news_list.0.title }}</h4></a>
                        <span class="pt20">{{ news_list.0.author.name }}</span>
                    </div>
                    <!-- Background Post Image -->
                    <a href="{% url 'news:detail_news' news_list.0.pk %}"><img src="{{ news_list.0.image.url }}" alt=""></a>
                </div>

                <div class="col-md-12 blog-post mt40">
                    <!-- Post info -->
                    <div class="post-info">
                        <!-- Post Title -->
                        <a href="{% url 'news:detail_news' news_list.1.pk %}" class="blog-post-link pb10"><h4>{{ news_list.1.title }}</h4></a>
                        <span class="pt20">{{ news_list.1.author.name }}</span>
                    </div>
                    <!-- Background Post Image -->
                    <a href="{% url 'news:detail_news' news_list.1.pk %}"><img src="{{ news_list.1.image.url }}" alt=""></a>
                </div>
            </div>

            <div class="col-md-6">
                <div class="blog-post-featured">
                    <span class="featured btn">уже работает</span>
                    <!-- Post info -->
                    <div class="post-info">
                        <!-- Post Title -->
                        <a href="{% url 'news:detail_news' news_list.2.pk %}" class="blog-post-link pb10"><h4>{{ news_list.2.title }}</h4></a>
                        <span class="pt20">{{ news_list.2.author.name }}</span>
                    </div>
                    <!-- Background Post Image -->
                    <a href="{% url 'news:detail_news' news_list.2.pk %}"><img src="{{ news_list.2.image.url }}" alt=""></a>
                </div>
            </div>

        {% endif %}

        <!-- Read More Button -->
        <div class="col-md-12 text-center mt40">
            <a href="{% url 'news:list_news' %}" class="btn btn-blue btn-effect">читать дальше</a>
        </div>
</section>
<!-- ===== End of Latest News Section ===== -->