{% load static %}
<!-- =============== Start of Footer 1 =============== -->
<footer class="footer1">

    <!-- ===== Start of Footer Information & Links Section ===== -->
    <div class="footer-info ptb80">
        <div class="container">

            <!-- 1st Footer Column -->
            <div class="col-md-3 col-sm-6 col-xs-6 footer-about">

                <a href="{% url 'index' %}">
                    <img src="{% static 'img/index/logo.svg' %}" alt="logo">
                </a>

                <!-- Small Description -->
                <p class="pt40">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                    has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                    galley of type changed.</p>

                <!-- Info -->
                <ul class="nopadding">
                    <li><i class="fa fa-map-marker"></i>New York City, USA</li>
                    <li><i class="fa fa-phone"></i>(123) 456 789 0012</li>
                    <li><i class="fa fa-envelope-o"></i>youremail@cariera.com</li>
                </ul>
            </div>

            <!-- 2nd Footer Column -->
            <div class="col-md-3 col-sm-6 col-xs-6 footer-links">
                <h3>useful links</h3>

                <!-- Links -->
                <ul class="nopadding">
                    <li><a href="post-job.html"><i class="fa fa-angle-double-right"></i>add job</a></li>
                    <li><a href="blog-right-sidebar-v1.html"><i class="fa fa-angle-double-right"></i>blog</a></li>
                    <li><a href="search-jobs-1.html"><i class="fa fa-angle-double-right"></i>find jobs</a></li>
                    <li><a href="faq.html"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                    <li><a href="login.html"><i class="fa fa-angle-double-right"></i>login</a></li>
                    <li><a href="privacy-policy.html"><i class="fa fa-angle-double-right"></i>privacy policy</a></li>
                    <li><a href="register.html"><i class="fa fa-angle-double-right"></i>register</a></li>
                    <li><a href="shop-right-sidebar.html"><i class="fa fa-angle-double-right"></i>shop</a></li>
                    <li><a href="submit-resume.html"><i class="fa fa-angle-double-right"></i>submit resume</a></li>
                </ul>
            </div>

        </div>
    </div>
    <!-- ===== End of Footer Information & Links Section ===== -->


    <!-- ===== Start of Footer Copyright Section ===== -->
    <div class="copyright ptb40">
        <div class="container">

            <div class="col-md-6 col-sm-6 col-xs-12">
                <span>Copyright &copy; <a href="{% url 'index' %}">bestjob</a>. All Rights Reserved</span>
            </div>

        </div>
    </div>
    <!-- ===== End of Footer Copyright Section ===== -->

</footer>
<!-- =============== End of Footer 1 =============== -->