{% load static %}

{#<div class="footer navbar-fixed-bottom">#}
{#</div>#}

<!-- =============== Start of Footer 1 =============== -->
<footer class="footer">

    <!-- ===== Start of Footer Information & Links Section ===== -->
    <div class="footer-info ptb80">
        <div class="container">

            <!-- 1st Footer Column -->
            <div class="col-md-3 col-sm-6 col-xs-6 footer-about">

                <a href="{% url 'index' %}">
                    <img src="{% static 'img/logo.svg' %}" alt="logo">
                </a>

                <!-- Small Description -->
                <p>Учебный проект сделанный командой студентов факультета Python разработки на Django.</p>

                <!-- Info -->
                <ul class="nopadding">
                    <li><i class="fa fa-map-marker"></i>New York City, USA</li>
                    <li  style="font-family: arial;"><i class="fa fa-phone"></i>(123) 456 789 0012</li>
                    <li><i class="fa fa-envelope-o"></i>administrator@bestjob.com</li>
                </ul>
            </div>

            <!-- 2nd Footer Column -->
            <div class="col-md-3 col-sm-6 col-xs-6 footer-links">

                <h3>Ссылки</h3>

                <!-- Links -->
                <ul class="nopadding">
                    {% if user.role_id == 2 or user.is_superuser %}
                        <li><a href="{% url 'vacancy:create_vacancy' %}"><i class="fa fa-angle-double-right"></i>добавить
                            вакансию</a></li>
                    {% endif %}
                    <li><a href="{% url 'news:list_news' %}"><i class="fa fa-angle-double-right"></i>новости</a></li>
                    <li><a href="{% url 'haystack_search' %}"><i class="fa fa-angle-double-right"></i>поиск</a></li>
                    <li><a href="{% url 'users:login' %}"><i class="fa fa-angle-double-right"></i>войти</a></li>
                    <li><a href="{% url 'users:registration' %}"><i class="fa fa-angle-double-right"></i>регистрация</a>
                    </li>
                    {% if user.role_id == 3 or user.is_superuser %}
                        <li><a href="{% url 'cvs:create_cv' %}"><i class="fa fa-angle-double-right"></i>создать
                            резюме</a></li>
                    {% endif %}
                </ul>
            </div>

            <!-- 3 -->
            <div class="col-md-3 col-sm-6 col-xs-6 footer-posts">

                {% if footer_list_1 %}
                    {% for employer in footer_list_1 %}
                        <div class="footer-blog-post">

                            <!-- Thumbnail -->
                            <div class="thumbnail-post">
                                <a href="{% url 'users:employers_detail' employer.id %}">
                                    <img src="{{ employer.image.url }}" alt="">
                                </a>
                            </div>

                            <!-- Link -->
                            <div class="post-info">
                                <a href="{% url 'users:employers_detail' employer.user.id %}">{{ employer.name }}</a>
                                <span>{{ employer.city }}</span>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <!-- 4 -->
            <div class="col-md-3 col-sm-6 col-xs-6 footer-posts">

                {% if footer_list_2 %}
                    {% for employer in footer_list_2 %}
                        <div class="footer-blog-post">

                            <!-- Thumbnail -->
                            <div class="thumbnail-post">
                                <a href="{% url 'users:employers_detail' employer.user.id %}">
                                    <img src="{{ employer.image.url }}" alt="">
                                </a>
                            </div>

                            <!-- Link -->
                            <div class="post-info">
                                <a href="{% url 'users:employers_detail' employer.user.id %}">{{ employer.name }}</a>
                                <span>{{ employer.city }}</span>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

        </div>
    </div>
    <!-- ===== End of Footer Information & Links Section ===== -->


    <!-- ===== Start of Footer Copyright Section ===== -->
    <div class="copyright ptb40">
        <div class="container">

            <div class="col-md-6 col-sm-6 col-xs-12">
                <span>Copyright &copy; <a href="{% url 'index' %}">bestjob</a>. All Rights Reserved</span>
            </div>

        </div>
    </div>
    <!-- ===== End of Footer Copyright Section ===== -->

</footer>
<!-- =============== End of Footer 1 =============== -->