{% load static %}

<!-- =============== Start of Messages Section =============== -->

<section id="login">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-md-offset-3 col-xs-12">

                {#{% if messages or form.non_field_errors %}#}
                {#    <div class="alert {% if messages %} alert-success {% else %} alert-warning {% endif %} alert-dismissible show"#}
                {#         role="alert" style="margin-top: 50px;">#}

                {% if messages %}
                    <div onclick="this.parentNode.removeChild(this)" style="margin-top: 20px;">
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                    {{ message }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% if form.errors %}
                    <div class="alert alert-warning" role="alert" style="margin-top: 20px;
                        color: dimgrey; border: 3px solid pink; border-radius: 10px;">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <ul>
                            <li>
                            <br>
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <br>
                                        {% if field != '__all__' %}
                                            <strong>{{ field.label }}:</strong>
                                        {% endif %}
                                        {{ error }}
                                    {% endfor %}
                                {% endfor %}
                            </li>
                        <li>
                        {% for error in form.non_field_errors %}
                                        {{ error }}
                                    {% endfor %}
                        </li>
                        </ul>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
</section>

<!-- =============== End of Messages Section =============== -->
