{% load static %}

<div class="row pt-3 pb-3 border-bottom border-dark border-3 grey-bg-color">
    <div class="col d-flex flex-nowrap align-items-center justify-content-around">
        <div class="border-top border-bottom border-dark border-1 rounded p-1">
            <a class="nolink big-font " href="{% url 'users:moderator_profile' '1' %}">Профиль модератора</a>
        </div>
        <div class="border-top border-bottom border-dark border-1 rounded p-1">
            <a class="nolink big-font " href="#">Ожидают модерации</a>
        </div>
    </div>
</div>
