{% extends "base.html" %}

{% load static %}

{% block menu %}
    {% include 'inc_main_menu.html' %}
{% endblock %}

{% block header %}
    {% include 'inc_header_menu.html'%}
{% endblock %}

{% block content %}

    <section class="find-candidate ptb80">
        <div class="container">
            <div class="row">

                <div class="row pb80">
                    <p>Статус:</p>
                    <div class="radio radio-group-opt comp_status">

                        <div class="col-md-2 col-sm-6">
                            <label style="display: inline-block"><input style="display: inline-block" type="radio"
                                                                        name="company" value="pub" checked>Опубликовано</label>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <label style="display: inline-block"><input style="display: inline-block" type="radio"
                                                                        name="company" value="frv">На доработку</label>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <label style="display: inline-block"><input style="display: inline-block" type="radio"
                                                                        name="company" value="rjc">Отклонено</label>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <label style="display: inline-block"><input style="display: inline-block" type="radio"
                                                                        name="company" value="apv">Одобрено</label>
                        </div>
                         <div class="col-md-2 col-sm-6">
                            <label style="display: inline-block"><input style="display: inline-block" type="radio"
                                                                        name="company" value="all">все</label>
                        </div>
                    </div>
                </div>

               {%  include 'companies_list.html' %}

            </div>
        </div>
    </section>
    <!-- ===== End of Shop Section ===== -->

{% endblock %}

{% block footer %}
    {% include 'inc_footer.html' %}
{% endblock %}