{% load static %}

<div class="row pt-3 pb-3 border-bottom border-dark border-3 grey-bg-color">
    <div class="col d-flex flex-nowrap align-items-center justify-content-around">
        <div class="border-top border-bottom border-dark border-1 rounded p-1">
            <a class="nolink big-font {% if request.resolver_match.namespace == 'users' %}text-primary{% endif %}" href="{% url 'vacancies:vacancy_list' %}">Вакансии</a>
        </div>
        <div class="border-top border-bottom border-dark border-1 rounded p-1">
            <a class="nolink big-font {% if request.resolver_match.namespace == 'news' %}text-primary{% endif %}" href="{% url 'cvs:cv_list' %}">Резюме</a>
        </div>
    </div>
</div>