{% extends 'base.html' %}
{% load static %}

{% block menu %}
    {{ user.username }}
    <ul>
        <li>
            <a href="{% url 'users:login' %}">войти</a>
        </li>
        <li>
            <a href="{% url 'users:registration' %}">регистрация</a>
        </li>
        <li>
            <a href="{% url 'users:logout' %}">выйти</a>
        </li>
        <li>
            <a href="{% url 'users:worker_profile' '1' %}">профиль соискателя</a>
        </li>
        <li>
            <a href="{% url 'users:employer_profile' '1' %}">профиль работодателя</a>
        </li>
        <li>
            <a href="{% url 'users:moderator_profile' '1' %}">профиль модератора</a>
        </li>
        <li>
            <a href="URL">поиск</a>
        </li>
    </ul>

{% endblock %}

{% block content %}
    <table width="100%">
        {% for item in news_list %}
            <tr>
                <td>{{ item.created|date:"Y-m-d H:i:s" }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.body }}</td>
            </tr>
        {% empty %}
{#            Убрать потом!!!!!!#}
            <tr>
                <td>
                    новость 1
                </td>

            </tr>
            <tr>
                <td>
                    новость 2
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

