{% extends 'base.html' %}
{% load static %}

{% block menu %}
    <ul>

        <li>
            <a href="{% url 'news:create_news' %}">создать новость [модератор]</a>
        </li>
    </ul>

{% endblock %}

{% block content %}
    <table width="100%">
        {% for item in news_list %}
            <tr>
                <td>{{ item.created|date:"Y-m-d H:i:s" }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.body }}</td>
                <td>{{ item.is_active }}</td>
                <td>{{ item.author.first_name }}</td>
                <td>
                    <a href="{% url 'news:update_news' item.pk %}">изменить</a>
                </td>
                <td>
                    <a href="{% url 'news:delete_news' item.pk %}">удалить</a>
                </td>
            </tr>

        {% empty %}
{#            Убрать потом!!!!!!#}
            <tr>
                <td>
                    новость 1
                </td>

            </tr>
            <tr>
                <td>
                    новость 2
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

