{% extends 'base.html' %}
{% load static %}

{% block menu %}
{% include "moderator_menu.html" %}
{% endblock %}

{% block content %}
    <div class="d-flex flex-wrap align-items-center justify-content-center ps-5 pe-5">
        <div class="card-text">
            <div class="giant-font text-center border-bottom border-secondary border-1">Изменение новости</div>
            <form method="post" action="">
                {% csrf_token %}

                <div class="form-group m-3">
                    <label class="small mb-1" for="{{ form.title.id_for_label }}">Заголовок:</label>
                    <p class="card shadow-lg border-1 rounded-lg">{{ form.title }}</p>
                </div>

                <div class="form-group m-3">
                    <label class="small mb-1" for="{{ form.body.id_for_label }}">Тело:</label>
                    <p class="card shadow-lg border-1 rounded-lg">{{ form.body }}</p>
                </div>

                <div class="form-group">
                    <label class="small mb-1" for="{{ form.is_active.id_for_label }}">Активна:</label>
                    <p class="checkbox-row ">{{ form.is_active }}</p>
                </div>

                <div class="form-group d-flex align-items-center justify-content-around mt-4 mb-3">
                    <a class="btn btn-primary" href="{% url 'news:moderate_news' %}">Вернуться</a>
                    <input class="btn btn-danger" type="submit" value="Cохранить">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

