{% extends 'base.html' %}
{% load static %}

{% block additional_styles %}
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block menu %}
    {% include 'inc_main_menu.html' %}
{% endblock %}

{% block header %}
    {% if user.role_id == roles.MODERATOR %}
        {% include 'inc_header_menu.html' %}
    {% else %}
        {% include 'inc_header_menu.html' %}
    {% endif %}
{% endblock %}


{% block content %}

    <section class="blog-listing ptb80" id="version1">
        <div class="container">
            <div class="row">

                <div class="col-md-12 blog-posts-wrapper">

                    {% for item in page_obj %}

                        <article class="col-md-12 blog-post">

                            <div class="col-md-4 blog-thumbnail">
                                <a href="{% url 'news:detail_news' item.pk %}" class="hover-link"><img
                                        src="{{ item.image.url }}"
                                        class="img-responsive"
                                        alt=""></a>
                                <div class="date">
                                    <span class="day">{{ item.created|date:"d" }}</span>
                                    <span class="publish-month">{{ item.created|date:"M" }}</span>
                                </div>
                            </div>

                            <div class="col-md-8 blog-desc">
                                <h5><a href="{% url 'news:detail_news' item.pk %}">{{ item.title }}</a></h5>
                                <div class="post-detail pt10 pb20">
                                    <span><i class="fa fa-user"></i>{{ item.author.name }}</span>
                                    <span><i class="fa fa-clock-o"></i>{{ item.created|date:"H:i" }}</span>
                                </div>

                                <p>{{ item.body }}</p>
                                {% if user.role_id == roles.MODERATOR %}
                                    <a href="{% url 'news:update_news' item.pk %}" class="btn btn-blue btn-effect mt10">Редактировать</a>
                                    <a href="#" onclick="openModalForm({{ item.pk }})"
                                       class="btn btn-blue btn-effect mt10" role="button">Удалить</a>
                                {% else %}
                                    <a href="{% url 'news:detail_news' item.pk %}"
                                       class="btn btn-blue btn-effect mt10">подробнее</a>
                                {% endif %}
                            </div>

                        </article>

                    {% endfor %}

                    <!-- Start Pagination -->
                    <div class="col-md-12">
                        <ul class="pagination list-inline text-center">
                            {% if page_obj.has_previous %}
                                <li><a href="?page=1">&laquo; первая</a></li>
                                <li><a href="?page={{ page_obj.previous_page_number }}">предыдущая</a></li>

                            {% endif %}

                            <span class="current">
                                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                                </span>

                            <li class="active"><a href="javascript:void(0)">{{ page_obj.number }}</a></li>

                            {% if page_obj.has_next %}

                                <li><a href="?page={{ page_obj.next_page_number }}">следующая</a></li>
                                <li><a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <!-- End of Pagination -->
                </div>
            </div>
        </div>
    </section>

    {% include 'inc_news_delete_confirm_modal_form.html' %}

{% endblock %}

{% block footer %}
    {% include 'inc_footer.html' %}
{% endblock %}

{% block additional_script %}
    <script src="{% static 'js/news_moderate_list.js' %}"></script>
{% endblock %}

