{% extends "base.html" %}

{% load static %}

{% block menu %}
    {% include 'inc_main_menu.html' %}
{% endblock %}

{% block header %}
    {% include 'inc_page_header.html' %}
{% endblock %}

{% block content %}
    <section class="ptb80">
        <div class="container">
            <div class="col-md-12">
                <h3>Email с инструкциями был выслан</h3>
                <h4>Проверьте электронную почту</h4>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {% include 'inc_footer.html' %}
{% endblock %}
