{% extends "base.html" %}

{% load static %}

{% block menu %}
    {% include 'inc_main_menu.html' %}
{% endblock %}

{% block header %}
    {% include 'inc_page_header.html' %}
{% endblock %}

{% block content %}

    <!-- ===== Start of Login - Register Section ===== -->
    <section class="ptb80" id="login">
        <div class="container">
            <div class="col-md-6 col-md-offset-3 col-xs-12">

                <!-- Start of Login Box -->
                <div class="login-box">

                    <div class="login-title">
                        <h4>Введите новый пароль</h4>
                    </div>

                    <!-- Start of Login Form -->
                    <form action="" method="POST">
                        {% csrf_token %}

                        <!-- Form Group -->
                        <div class="form-group">
                            <label for="{{ form.new_password1.id_for_label }}">Пароль</label>
                            {{ form.new_password1 }}
                        </div>

                        <!-- Form Group -->
                        <div class="form-group">
                            <label for="{{ form.new_password2.id_for_label }}">Подтвердите пароль</label>
                            {{ form.new_password2 }}
                        </div>

                        <!-- Form Group -->
                        <div class="form-group text-center">
                            <input class="btn btn-blue btn-effect" type="submit" value="сохранить новый пароль">
                        </div>

                    </form>
                    <!-- End of Login Form -->
                </div>
                <!-- End of Login Box -->

            </div>
        </div>
    </section>
    <!-- ===== End of Login - Register Section ===== -->

{% endblock %}


{% block footer %}
    {% include 'inc_footer.html' %}
{% endblock %}