{% extends 'base.html' %}
{% load static %}

{% block menu %}
    {% include 'inc_main_menu.html' %}
{% endblock %}

{% block header %}
    {% include 'inc_header.html' %}
{% endblock %}

{% block content %}
    <section class="education ptb80" style="background: #f0f0f0;">
        <div class="container">

            {% if relation_history %}

                <div class="col-md-12" style="margin-bottom: 15px;">
                    <div class="item-block shadow-hover" style="background: #ffffff;">

                        <div class="education-header clearfix">
                            <h5><small>Статус: </small> {{ relation_history.last_status }} </h5>
                            <h5><small>Дата: </small> {{ relation_history.last_status_date }} </h5>
                            <h5><small>Резюме: </small><a
                                    href="{% url 'cv:detail_cv' relation_history.cv.pk %}">{{ relation_history.cv.post }}</a>
                            </h5>
                            <h5><small>Вакансия: </small><a
                                    href="{% url 'vacancies:detail_vacancy' relation_history.vacancy.pk %}">{{ relation_history.vacancy.name }}</a>
                            </h5>
                        </div>

                        {% if custom_relation_model %}
                            <div>
                                <div class="col-md-10 text-right mt-4 mb-4" style="background: #ffffff;">
                                    <a class="btn btn-blue btn-effect mt15 mb15"
                                       href="{% url 'relations:relation_status' relation_id=custom_relation_model.relation_id status_id=custom_relation_model.cancel_status_id %}">{{ custom_relation_model.button_cancel_text }}</a>
                                </div>
                            </div>
                            <div>
                                <div class="col-md-2 text-right mt-4 mb-4" style="background: #ffffff;">
                                    <a class="btn btn-blue btn-effect mt15 mb15"
                                       href="{% url 'relations:relation_status' relation_id=custom_relation_model.relation_id status_id=custom_relation_model.accept_status_id %}">{{ custom_relation_model.button_accept_text }}</a>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>

                {% for history_item in relation_history %}

                    <div class="col-md-12" style="margin-bottom: 15px;">
                        <div class="item-block shadow-hover" style="background: #ffffff;">

                            <div class="education-header clearfix">
                                <h5><small>Дата: </small> {{ history_item.created }} </h5>
                                <h5><small>Статус: </small> {{ history_item.status.name }} </h5>
                                <h5><small>Комментарий: </small> {{ history_item.comment }} </h5>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>

{% endblock %}

{% block footer %}
    {% include 'inc_footer.html' %}
{% endblock %}
