{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- Mobile viewport optimized -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">

    <!-- Meta Tags - Description for Search Engine purposes -->
    <meta name="description" content="Cariera - Job Board HTML Template">
    <meta name="keywords"
          content="cariera job board, HTML Template, job board html, job listing, job portal, job postings, jobs, recruiters, recruiting, recruitment">
    <meta name="author" content="GnoDesign">

    <!-- Website Title -->
    <title>Cariera - Job Board HTML Template</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/apple-touch-icon.png' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,700,800|Varela+Round" rel="stylesheet">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    {#{% extends 'base.html' %}#}

    {% block content %}
        <body>
        <!-- =============== Start of Page Header 1 Section =============== -->
        <section class="page-header">
            <div class="container">

                <!-- Start of Page Title -->
                <div class="row">
                    <div class="col-md-12">
                        <h2>Ваше резюме</h2>
                    </div>
                </div>
                <!-- End of Page Title -->

                <!-- Start of Breadcrumb -->
                <div class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li><a href="{% url 'cv:cv_list' %}">к списку резюме</a></li>
                            <li class="active">Ваше резюме</li>
                        </ul>
                    </div>
                </div>
                <!-- End of Breadcrumb -->

            </div>
        </section>

        <!-- ===== Start of Main Wrapper Section ===== -->
        <section class="ptb80" id="post-job">
            <div class="container">
                <!-- Start of Post Resume Form -->
                {#            <form action="#" class="post-job-resume mt50">#}
                <div class="row candidate-profile nomargin">

                    <!-- Start of Profile Picture -->
                    <div class="col-md-3 col-xs-12">
                        <div class="profile-photo">
                            {% if worker.image %}
                                <img src="{{ worker.image.url }}" class="img-responsive" alt="Нет фото">
                            {% else %}
                                <p>Нет фото</p>
                            {% endif %}

                        </div>


                    </div>
                    <!-- End of Profile Picture -->

                    <!-- Start of Profile Description -->
                    <div class="col-md-9 col-xs-12">
                        <div class="profile-descr">

                            <!-- Profile Title -->
                            <div class="profile-title">
                                <h2 class="capitalize">{{ worker.name }}</h2>
                                {#                            <h5 class="pt10">Front-End Developer</h5>#}
                            </div>

                            <!-- Profile Details -->
                            <ul class="profile-info mt20 nopadding">
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    <span>{{ worker.city }}</span>
                                </li>
                                <li>
                                    <i class="fa fa-birthday-cake"></i>
                                    <span>{{ worker.birth_date }}</span>
                                </li>

                                <li>
                                    <i class="fa fa-phone"></i>
                                    <span>{{ worker.phone_number }}</span>
                                </li>

                                <li>
                                    <i class="fa fa-envelope"></i>
                                    <span>{{ worker.user.email }}</span>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <!-- End of Profile Description -->

                </div>
                <!-- End of Row -->


                <form action="{% url 'cvs:create_cv' %}" method="post" class="post-job-resume mt50">
                    {% csrf_token %}

                    <!-- Start of Resume Details -->

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="{{ form.about.id_for_label }}">Обо мне</label>
                                {{ form.about }}
                            </div>

                            <!-- Form Group -->
                            <div class="form-group">
                                <label for="{{ form.speciality.id_for_label }}">Специализация</label>
                                {{ form.speciality }}
                            </div>
                            <!-- Form Group -->
                            <div class="form-group">
                                <label for="{{ form.post.id_for_label }}">Должность</label>
                                {{ form.post }}
                            </div>
                            <!-- Form Group -->
                            <div class="form-group">
                                <label for="{{ form.skills.id_for_label }}">Основные навыки</label>
                                {{ form.skills }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12" for="{{ form.salary.id_for_label }}">Зарплата</label>
                            <div class="col-md-6 mx-auto">
                                {{ form.salary }}
                            </div>
                            <div class="col-md-6 mx-auto">
                                {{ form.currency }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            {#                            <div class="form-group pt30 nomargin" id="last">#}
                            <div class="form-group pt30 nomargin">
                                <label for="experience">Опыт работы</label>
                                <input type="submit" class="btn btn-blue btn-effect" name="experience" id="experience"
                                       value="Добавить опыт работы">

                            </div>
                            <!-- Form Group -->
                            <div class="form-group pt30">
                                <label for="{{ form.education_level.id_for_label }}">Уровень образования</label>
                                {{ form.education_level }}
                            </div>

                            <div class="form-group nomargin">
                                <label for="education">Образование</label>

                                <input type="submit" class="btn btn-blue btn-effect" value="Добавить место обучения"
                                       name="education" id="education">

                            </div>
                            <div class="form-group pt30 nomargin">
                                <label for="language">Владение языками</label>
                                <input type="submit" class="btn btn-blue btn-effect" value="Добавить язык"
                                       name="language" id="language">

                            </div>

                            <div class="form-group pt30 nomargin">
                                <label for="{{ form.moving.id_for_label }}">Возможность переезда</label>
                                {{ form.moving }}
                            </div>
                        </div>
                        {#                        <div class="form-group pt30 nomargin">#}
                        <div class="col-md-6 mx-auto form-group pt30 nomargin">
                            <label>Занятость </label>
                            {% for empl in employments %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="empl_{{ empl.code }}"
                                           id="empl_{{ empl.code }}">
                                    <label class="form-check-label" for="empl_{{ empl.code }}">
                                        {{ empl.employment }}
                                    </label>
                                </div>
                            {% endfor %}

                        </div>
                        <div class="col-md-6 mx-auto form-group pt30 nomargin">
                            <label>График работы </label>
                            {% for sch in schedules %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="schedule_{{ sch.code }}"
                                           id="schedule_{{ sch.code }}">
                                    <label class="form-check-label" for="schedule_{{ sch.code }}">
                                        {{ sch.schedule }}
                                    </label>
                                </div>
                            {% endfor %}

                        </div>
                        <div class="col-md-12">
                            <div class="form-group pt30 nomargin" id="last">
                                <button class="btn btn-blue btn-effect">Сохранить</button>
                            </div>
                        </div>
                </form>
            </div>
        </section>


    {% endblock %}



    <!-- cd-user-modal -->
    <!-- ===== End of Login Pop Up div ===== -->


    <!-- ===== All Javascript at the bottom of the page for faster page loading ===== -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/swiper.min.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.js' %}"></script>
    <script src="{% static 'js/jquery.countTo.js' %}"></script>
    <script src="{% static 'js/jquery.inview.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.easypiechart.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'js/countdown.js' %}"></script>
    <script src="{% static 'js/isotope.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

    </body>

</html>