{% extends 'base.html' %}
{% load static %}

{% block menu %}
{% include 'inc_main_menu.html' %}
{% endblock %}

{% block content %}
<table width="100%">
    <tr>
        <td>
            <span>Фотография</span>
        </td>
        <td>
            <span>Должность</span>
        </td>
        <td>
            <span>ФИО</span>
        </td>
        <td>
            <span>Желаемая зарплата</span>
        </td>
        <td>
            <span>Статус отклика</span>
        </td>
        <td>
            <span>Решение</span>
        </td>
    </tr>
    {% for resp in responses %}
    <tr>
        <td>
            <img width="200" height="200"
                 src="{% if resp.cv.worker_profile.image %} {{ resp.cv.worker_profile.image.url }} {% else %} {% static 'img/users/default_avatar.jpg' %} {% endif %}"
                 class="img-thumbnail"></td>
        <td>
            <div>{{ resp.cv.speciality }}</div>
        </td>
        <td>
            <div>{{ resp.cv.worker_profile.name }}</div>
        </td>
        <td>
            <div>{{ resp.cv.salary }}</div>
        </td>
        <td>
            {% if resp.status_employer %} <span style="color: green">Приглашение</span>
            {% elif resp.status_employer is False %} <span style="color: red">Отказ</span>
            {% elif resp.status_employer is None %} <span>Ожидание</span>
            {% endif %}
        </td>
        <td>
            <form method="post" action="{{ resp.id }}/">
                {% csrf_token %}
                <div>{{ form.status_employer }}</div>
                <button>Отправить</button>
            </form>

        </td>
    </tr>

    {% endfor %}

</table>
{% endblock %}

{% block footer %}
{% include 'inc_footer.html' %}
{% endblock %}
