{% extends 'base.html' %}
{% load static %}

{% block menu %}
    <ul>

        <li>
            <a href="{% url 'vacancies:create_vacancy' %}">создать вакансию</a>
        </li>

        <li>
            <a href="{% url 'users:employer_profile' pk=1 %}">вернуться в профиль</a>
        </li>
    </ul>

{% endblock %}

{% block content %}
    <table width="100%">
        <tr>
            <td width="60%">
                <ul>
                    {% for vacancy in  vacancies_list %}
                        <li>"{{ vacancy.name }}". Статус - {{ vacancy.status }}</li>
                        <a href="{% url 'vacancies:update_vacancy' pk=vacancy.id %}">редактировать</a>
                        <a href="{% url 'vacancies:delete_vacancy' pk=vacancy.id %}">удалить</a>
                        <a href="{% url 'vacancies:distribute_vacancy' pk=vacancy.id %}">разместить</a>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>
{% endblock %}
