{% extends 'base.html' %}
{% load static %}

{% block menu %}
    {% include 'inc_main_menu.html' %}
{% endblock %}

{% block header %}
    {% include 'inc_header_menu.html' %}
{% endblock %}

{% block content %}

    {% block messages %}
        {% include 'inc_messages_for_forms.html' %}
    {% endblock %}

    <!--    Начало секции Вакансии-->
    <section class="education ptb80">
        <div class="container">

            {% for vacancy in  vacancies %}
                <div class="col-md-12" style="margin-bottom: 15px;">
                    <div class="item-block shadow-hover" style="background: #ffffff;">

                        <div class="education-header clearfix">
                            <div class="col-md-8 col-xs-6 ptb20">
                                <h5><small>Вакансия -</small><a
                                        href="{% url 'vacancies:detail_vacancy' vacancy.id %}">{{ vacancy.name }}</a>
                                </h5>
                                <h5><small>Работодатель -</small> {{ vacancy.employer_profile.name }} </h5>
                                <h5><small>Зарплата -</small>
                                    {% if vacancy.salary_from %}
                                        {{ vacancy.salary_from }}
                                    {% endif %}

                                    {% if vacancy.salary_from and vacancy.salary_to %}
                                        -
                                    {% endif %}

                                    {% if vacancy.salary_to %}
                                        {{ vacancy.salary_to }}
                                    {% endif %}</h5>
                                <h5><small>Дата создания -</small> {{ vacancy.created_at }} </h5>

                                {% if employer %}
                                    <h5><small>Статус вакансии -</small> {{ vacancy.status }} </h5>
                                    {% if vacancy.status.code == 'FRV' %}
                                        <p style="color:#ff0000;">Внимание! Модератор отправил вакансию на доработку!
                                            {% if vacancy.moderators_comment %}
                                                <p style="color:#ff0000;">Прочесть комментарии модератора можно на форме
                                                    редактирования.</p>
                                            {% endif %}
                                    {% elif vacancy.status.code == 'RJC' %}
                                        <p style="color:#ff0000;">Внимание! Вакансия отклонена модератором!
                                            {% if vacancy.moderators_comment %}
                                                <p style="color:#ff0000;">Прочесть комментарии модератора можно на форме
                                                    редактирования.</p>
                                            {% endif %}
                                    {% endif %}

                                {% endif %}
                            </div>
                            <div class="col-md-2 col-xs-3 ptb20">
                                <div class="candidate-cta ptb30">
                                    {% load extra_tags %}
                                    {% if worker %}
                                        {% is_workers_favorite vacancy.id worker.id as favorite %}
                                        {% if favorite %}
                                            <a href="{% url 'favorites:worker_add_remove' vacancy_id=vacancy.id %}"
                                               style="color: orange">
                                            <div data-toggle="tooltip" data-placement="bottom"
                                                 title="Уже у Вас в избранном" class="pull-right">
                                                <h3>★</h3>
                                            </div>
                                            </a>
                                        {% else %}
                                            <a href="{% url 'favorites:worker_add_remove' vacancy_id=vacancy.id %}"
                                               style="color: lightgray">
                                                <div class="pull-right"><h3>★</h3></div>
                                            </a>
                                        {% endif %}
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                        {% if employer %}
                            <div>
                                <div class="col-md-4 text-left mt-4 mb-4" style="background: #ffffff;">
                                    <a class="btn btn-blue btn-effect mt15 mb15"
                                       href="{% url 'cv:cv_recommended' pk=vacancy.id %}">Соискатели для
                                        Вас</a>
                                </div>

                                <div class="col-md-8 text-right mt-4 mb-4" style="background: #ffffff;">
                                    {% if vacancy.status.code == 'NPB' or vacancy.status.code == 'FRV' %}
                                        <a class="btn btn-blue btn-effect mt15 mb15"
                                           href="{% url 'vacancies:distribute_vacancy' vacancy.id %}">Опубликовать</a>
                                    {% endif %}
                                    <a class="btn btn-blue btn-effect mt15 mb15"
                                       href="{% url 'vacancies:update_vacancy' vacancy.id %}">редактировать</a>
                                    <a class="btn btn-blue btn-effect mt15 mb15"
                                       href="{% url 'vacancies:delete_vacancy' vacancy.id %}">удалить</a>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-md-12 text-right mt-4 mb-4" style="background: #ffffff;">
                                <a class="btn btn-blue btn-effect mt15 mb15"
                                   href="{% url 'vacancies:detail_vacancy' vacancy.id %}">Просмотр</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

{#            {% if employer %}#}
{#                <a class="btn btn-blue btn-effect mt15 mb15" href="{% url 'vacancies:create_vacancy' %}">Создать#}
{#                    вакансию</a>#}
{#            {% endif %}#}
        </div>
    </section>
    <!--    Конец секции МОИ Вакансии-->
{% endblock %}

{% block footer %}
    {% include 'inc_footer.html' %}
{% endblock %}