{% extends 'base.html' %}
{% load static %}

{% block menu %}
{% if user.id %}
    {% include "worker_menu.html" %}
    {% endif %}
{% endblock %}

{% block content %}
    <h3>Возможно, вас могут заинтересовать следующие вакансии...</h3><br>
    {% for vacancy in  vacancies %}
    <table width="100%">
        <tr>
            <td width="60%">
                <h4>"{{ vacancy.name }}"</h4>
            </td>
            <td>
                <a href="{% url 'vacancies:detail_vacancy' vacancy.id %}">просмотр</a>
            </td>
        </tr>
    </table>
    {% endfor %}
{% endblock %}