{% extends 'base.html' %}
{% load static %}


{% block menu %}
    {% include 'inc_main_menu.html' %}
{% endblock %}

{% block header %}
    {% include 'inc_header_menu.html' %}
{% endblock %}

{% block content %}

    {% block messages %}
        {% include 'inc_messages_for_forms.html' %}
    {% endblock %}

    <div class="ptb80" id="post-job">
        <div class="container">

            <form action="{% url 'users:worker_profile' object.user_id %}" method="post" enctype="multipart/form-data" class="post-job-resume mt50">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">

                        <div class="profile-photo text-center mb30">
                                 <img width="400" height="400"
                                      src="{% if object.image %} {{ object.image.url }} {% else %} {% static 'img/users/default_avatar.jpg' %} {% endif %}" class="img-thumbnail">
                        </div>

                        <div class="form-group">
                            {{ form.image }}
                            <label class="custom-file-label" for="image">Выберите изображение</label>
                        </div>

                        <div class="form-group">
                            <label for="{{ form.name.id_for_label }}">ФИО Соискателя
                                <span style="color:red">*</span></label>
                            {{ form.name }}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.city.id_for_label }}">Город проживания
                                <span style="color:red">*</span></label>
                            {{ form.city }}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.phone_number.id_for_label }}">Телефон для связи
                                <span style="color:red">*</span></label>
                            {{ form.phone_number }}
                        </div>

                        <div class="form-group">
                            <label class="small mb-1">Пол</label>
                            <p><select name="gender">
                                <option {% if object.gender == "М" %} selected {% endif %}>М</option>
                                <option {% if object.gender == "Ж" %} selected {% endif %}>Ж</option>
                            </select></p>
                        </div>

                        <div class="form-group">
                            <label for="{{ form.birth_date.id_for_label }}">Дата рождения
                                <span style="color:red">*</span></label>
                            {{ form.birth_date }}
                        </div>

                        <div class="form-group">
                            <label class="small mb-1" for="{{ form.data.id_for_label }}">О себе:
                                <span style="color:red">*</span></label>
                            {{ form.data }}
                        </div>

                        <div class="form-group d-flex align-items-center justify-content-around mt-4 mb-0">
                            <a class="btn btn-blue btn-effect" href="{% url 'index' %}">Вернуться</a>
                            <input class="btn btn-blue btn-effect" type="submit" value="Сохранить">
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'inc_footer.html' %}
{% endblock %}

{% block additional_script %}
    {{ form.media }}
{% endblock %}