{% load static %}

<div class="row pt-3 pb-3 border-bottom border-dark border-3 grey-bg-color">
    <div class="col d-flex flex-nowrap align-items-center justify-content-around">
        <div class="border-top border-bottom border-dark border-1 rounded p-1">
            <a class="nolink big-font {% if request.resolver_match.namespace == 'users' %}text-primary{% endif %}" href="{% url 'users:worker_profile' user.id %}">Профиль соискателя</a>
        </div>
        <div class="border-top border-bottom border-dark border-1 rounded p-1">
            <a class="nolink big-font {% if request.resolver_match.url_name == 'cv_list' %}text-primary{% endif %}" href="{% url 'cvs:cv_list' %}">Ваши резюме</a>
        </div>
        <div class="border-top border-bottom border-dark border-1 rounded p-1">
            <a class="nolink big-font {% if request.resolver_match.url_name == 'cv_responses' %}text-primary{% endif %}" href="{% url 'cvs:cv_responses' %}">Отклики</a>
        </div>
        <div class="border-top border-bottom border-dark border-1 rounded p-1">
            <a class="nolink big-font " href="#">Вакансии для вас</a>
        </div>
    </div>
</div>

